Quizlet-API=0.1.0
beautifulsoup4=4.6.0
certifi=2017.7.27.1
chardet=3.0.4
colorclass=2.2.0
formats=0.1.1
google-api-python-client=1.6.4
httplib2=0.10.3
idna=2.6
oauth2client=4.1.2
pip=9.0.1
py3quizlet2=0.1
pyasn1=0.3.7
pyasn1-modules=0.1.5
requests=2.18.4
rsa=3.4.2
setuptools=36.6.0
six=1.11.0
tortilla=0.4.2
uritemplate=3.0.0
urllib3=1.22